@import "tailwindcss";
@plugin "daisyui" {
  themes: cupcake;
}

@font-face {
  font-family: Vazirmatn;
  src: url("./Vazirmatn[wght].ttf");
}

@theme {
  --font-main: Vazirmatn, sans-serif;
  --color-nitro-2: #24a684;
  --color-nitro-1: #2592a7;
}

@utility bg-nitro-br {
  @apply bg-linear-to-br from-nitro-1 to-nitro-2;
}

@utility bg-nitro-r {
  @apply bg-linear-to-r from-nitro-1 to-nitro-2;
}
